html
  head
    meta(charset='UTF-8')
    title next editor
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width,initial-scale=1')

  body
    div#root
    script(src="vendor/blockly/blockly_compressed.js")
    script(src="vendor/blockly/blocks_compressed.js")
    script(src="vendor/blockly/javascript_compressed.js")
    script(src="vendor/blockly/msg/js/ja.js")
    //- xml#toolbox(style="display: none")
    //-   block(type="controls_if")
    //-   block(type="controls_repeat_ext")
    //-   block(type="logic_compare")
    //-   block(type="math_number")
    //-   block(type="math_arithmetic")
    //-   block(type="text")
    //-   block(type="text_print")
    xml#toolbox(style='display: none')
      category(name='Logic', colour='%{BKY_LOGIC_HUE}')
        category(name='If')
          block(type='controls_if')
          block(type='controls_if')
            mutation(else='1')
          block(type='controls_if')
            mutation(elseif='1', else='1')
        category(name='Boolean', colour='%{BKY_LOGIC_HUE}')
          block(type='logic_compare')
          block(type='logic_operation')
          block(type='logic_negate')
          block(type='logic_boolean')
          block(type='logic_null')
          block(type='logic_ternary')
      category(name='Loops', colour='%{BKY_LOOPS_HUE}')
        block(type='controls_repeat_ext')
          value(name='TIMES')
            block(type='math_number')
              field(name='NUM') 10
        block(type='controls_whileUntil')
        block(type='controls_for')
          field(name='VAR') i
          value(name='FROM')
            block(type='math_number')
              field(name='NUM') 1
          value(name='TO')
            block(type='math_number')
              field(name='NUM') 10
          value(name='BY')
            block(type='math_number')
              field(name='NUM') 1
        block(type='controls_forEach')
        block(type='controls_flow_statements')
      category(name='Math', colour='%{BKY_MATH_HUE}')
        block(type='math_number')
          field(name='NUM') 123
        block(type='math_arithmetic')
        block(type='math_single')
        block(type='math_trig')
        block(type='math_constant')
        block(type='math_number_property')
        block(type='math_round')
        block(type='math_on_list')
        block(type='math_modulo')
        block(type='math_constrain')
          value(name='LOW')
            block(type='math_number')
              field(name='NUM') 1
          value(name='HIGH')
            block(type='math_number')
              field(name='NUM') 100
        block(type='math_random_int')
          value(name='FROM')
            block(type='math_number')
              field(name='NUM') 1
          value(name='TO')
            block(type='math_number')
              field(name='NUM') 100
        block(type='math_random_float')
        block(type='math_atan2')
      category(name='Lists', colour='%{BKY_LISTS_HUE}')
        block(type='lists_create_empty')
        block(type='lists_create_with')
        block(type='lists_repeat')
          value(name='NUM')
            block(type='math_number')
              field(name='NUM') 5
        block(type='lists_length')
        block(type='lists_isEmpty')
        block(type='lists_indexOf')
        block(type='lists_getIndex')
        block(type='lists_setIndex')
      sep
      category(name='Variables', custom='VARIABLE', colour='%{BKY_VARIABLES_HUE}')
      category(name='Functions', custom='PROCEDURE', colour='%{BKY_PROCEDURES_HUE}')
      sep
      category(name='text', colour='#5ba58c')
        block(type="text_print")

    script(type='text/javascript' src='dist/js/index.bundle.js')